@media (max-width: 1808px) {
    .facet_sidebar {
    display: none;
    }
}
body {
    background-image: url(finalfantasyxlogo.jpeg);
}
h1 {
    text-align: center;
    font-family: monospace;
    font-size: 600%;
    color: blue;
    border: solid 7px yellow;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;    
}
h2 {
    color: chocolate;
    font-family: fantasy;
    font-size: 40px;
}
h4 {
    font-family: fantasy;
    font-size: 40px;
    color: chocolate;
}
#media2 {
    font-family: fantasy;
    font-size: 30%;
    color: crimson;
    margin-right: 1200px;
    margin-left: 100px;
    margin-bottom: 4px;
    margin-top: 5px;
    overflow: auto;
    padding: inherit; 
    height: 500px;
    width: 1700px;
    text-align: center;
    background-image: url(awsometree.jpg);
    font-size: 150%;
}
#pynthead1 {
    border: dashed 9px purple;
    margin-left: 0%;
    margin-right: 0%;
    height: 875px;
}
#ffxundertekst {
    text-align: center;
    font-family: monospace;
    font-size: 150%;
    color: darkslateblue;
    margin-left: 29%;
    margin-right: 29%;
}
#sphere {
    margin-top: 35%;
}
#gamestory {
    margin-top: 45%;
}
#ffx1 {
    width: 507px;
    margin-bottom: 170px;
}
#ffx2 {
    margin-left: 808px; 
    margin-bottom: 170px;
    width: 550px;
}
#intro {
    margin-bottom: 30%;
    margin-top: 5px;
    text-align: center;
    font-family: fantasy;
    font-size: 125%;
    border: dotted 4px purple;
    color: rebeccapurple;
}
h3 {
    font-family: fantasy;
    color: purple;
    font-size: 150%;
}
footer {
    text-align: center;
    font-family: monospace;
    font-size: 150%;
    color: black;
}
#alltext {
    font-family: monospace;
    font-size: 150%;
    color: blue;
    text-align: center;
}



/* nav menu */

#menu {
    margin-top: 0px;
    margin-left: 835px;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
    display: block;
}
nav ul {
    font-family: fantasy;
    color: yellow;
	background: #6666FF; 
	background: linear-gradient(top, #6666FF 0%, #FF00FF 100%);  
	background: -moz-linear-gradient(top, #6666FF 0%, #FF00FF 100%); 
	background: -webkit-linear-gradient(top, #6666FF 0%,#FF00FF 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
    width: 200px;
}
nav ul:after {
    content: ""; clear: both; display: block;
	}
nav ul li {
	float: none; align-content: center;
    text-align: center;
    font-size: 30px;
}
nav ul li:hover {
	background: blue;
	background: linear-gradient(top, #FF00FF 0%, #6666FF 40%);
	background: -moz-linear-gradient(top, #FF00FF 0%, #6666FF 40%);
	background: -webkit-linear-gradient(top, #FF00FF 0%,#6666FF 40%);
}
nav ul li:hover a {
    color: blue;
}
	
nav ul li a {
	display: block; padding: 25px 40px;
	color: #6666FF; text-decoration: none;
}
nav ul ul {
	background: yellow; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid blue;
    position: relative;
}
nav ul ul li a {
    padding: 15px 40px;
    color: blue;
		}	
nav ul ul li a:hover {
    background: #FF00FF;
			}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
